#home-page{
    position: fixed;
    background-color: black; 

}

#home-page .menu{
    display: flex;
    position: relative;
    background-color: rgb(45, 44, 44);
    height: 10vh;
    justify-content: center;
    align-items: center;
    box-shadow: inset 10px 35px 30px 5px black;
    z-index: 10;

}
#home-page .menu img{
    width:9.4rem;
}
#home-page .menu h1{
    margin-right: 18rem;
    font-size: 0.6rem;
    color: white;
}

#home-page .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;      
    grid-auto-rows: 11.25rem;
    margin-left: -3rem;
}
.box1 {
    position:relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    height: 40%;      
    top: -1rem; 
    z-index: 11;
    background-color: black;
}
.box2 {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 5; 
    width: 12.875rem;
    height: 100vh;
    margin-left: -3rem;
    background-color:black;  
    top:-9rem;      
    z-index: 11;
}
.box2 .button{
    width: 4rem;
    height: 4rem;
    background-color: red;
    border-radius: 5.5rem;
    margin-left: 7rem;
    margin-top: 7rem;
    border: 0.2rem solid white;
    box-shadow: inset 2px 5px 30px 5px black; 
    
}
.box3{
    margin-left: -11rem;
    margin-top:-12.2rem;
}
.box4 {
    position: relative;
    grid-column-start:3;      
    grid-row-start: 2;
    grid-row-end: 5;
    margin-left: -15rem;
    background-color:black;
    height: 100vh;
    top:-9rem;
    z-index: 11;    
}

.box5 {
    position: relative;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end:4;        
    background-color:black;
    margin-top: 2.9rem;
    margin-left: -6.8rem;
    width: 100vw;
    height: 100vh;
    top:-11.5rem;
    z-index: 11;
}
#home-page .content{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 40vh;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    margin-top: 1.1rem; 

}
#home-page .content .score{
    position: relative;
    color: white;
    left:5.7rem;
    top:0px;
    z-index: 5;
    font-size: 0.5rem;
    margin-bottom: 8rem;
}
#home-page .content .score span{
    position:relative;
    left:2.2rem;
    bottom:0.7rem;
}

#home-page .content .fundoMov1{
    position:relative;
    width: 12.875rem;
    height: 10.875rem;
   
}
#home-page .content .fundoMov2{
    position:relative;
    width: 12.875rem;
    height: 10.875rem;
}
#home-page .content .latao{
    background-image: url('../assets/latao2.png');
    background-repeat:no-repeat;
    width: 2.1875rem;
    height: 34.375rem;
    position: relative;
    right: 12.9rem;
    top: -6.25rem;
}
#home-page .player{
    display: flex;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
}
#home-page .player ul{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    position: relative;
    list-style-type: none;
    top:-31.25rem;
    left: 9.4rem;
    right: 0;
    width: 2.25rem;
    height: 2.25rem;
}
#home-page .content .player ul li{
    position: absolute;   

}
#home-page .player ul li img{
    width: 9rem;
    height: 4.6rem;
    position: relative;
    
}

#home-page .pointColission{
    display:flex ;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;      
    background-color: rgb(35, 0, 59);
    top:22.5rem;
    left: 2.5rem;
    right: 0;

}
@media(min-width:320px){
    #home-page{
        position: fixed;    
    }
    
    #home-page .menu{
        display: flex;
        position: relative;
        height: 10vh;
        justify-content: center;
        align-items: center;
        z-index: 10;
    
    }
    #home-page .menu img{
        width:9.4rem;
    }
    #home-page .menu h1{
        margin-right: 26rem;
        font-size: 0.7rem;
     
    }
    
    #home-page .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;      
        grid-auto-rows: 11.25rem;
        margin-left: -3rem;
    }
    .box1 {
        position:relative;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        height: 34%;       
        top: -0.8rem; 
        z-index: 11;
        
    }
    .box2 {
        position: relative;
        grid-row-start: 2;
        grid-row-end: 5; 
        width: 12.875rem;
        height: 100vh;
        margin-left: -3rem;
        top:-9rem;      
        z-index: 11;
        
    }
    .box2 .button{
        width: 4rem;
        height: 4rem;
        border-radius: 5.5rem;
        margin-left: 7rem;
        margin-top: 7rem;

        
    }
    .box3{
        margin-left: -11rem;
        margin-top:-12.2rem;
    }
    .box4 {
        position: relative;
        grid-column-start:3;      
        grid-row-start: 2;
        grid-row-end: 5;
        margin-left: -15rem;
        height: 100vh;
        top:-9rem;
        z-index: 11; 
           
    }
    
    .box5 {
        position: relative;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end:4;        
        margin-top: 5.8rem;
        margin-left: -6.8rem;
        width: 100vw;
        height: 100vh;
        top:-15rem;
        z-index: 11;
   
    }
    #home-page .content{
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: 40vh;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        margin-top: 1.1rem; 
    
    }
    #home-page .content .score{
        position: relative;
        left:5.7rem;
        top:0px;
        z-index: 5;
        font-size: 0.5rem;
        margin-bottom: 8rem;
    }
    #home-page .content .score span{
        position:relative;
        left:2.2rem;
        bottom:0.7rem;
    }
    
    #home-page .content .fundoMov1{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
       
    }
    #home-page .content .fundoMov2{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
    }
    #home-page .content .latao{
        background-image: url('../assets/latao2.png');
        background-repeat:no-repeat;
        width: 2.1875rem;
        height: 34.375rem;
        position: relative;
        right: 12.9rem;
        top: -6.25rem;
    }
    #home-page .player{
        display: flex;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .player ul{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        position: relative;
        list-style-type: none;
        top:-33rem;
        left: 9.4rem;
        right: 0;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .content .player ul li{
        position: absolute;   
    
    }
    #home-page .player ul li img{
        width: 9rem;
        height: 4.6rem;
        position: relative;
        
    }
    
    #home-page .pointColission{
        display:flex ;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;      
        top:22.5rem;
        left: 2.5rem;
        right: 0;
    
    }

}
@media(min-width:380px){
    #home-page{
        position: fixed;    
    }
    
    #home-page .menu{
        display: flex;
        position: relative;
        height: 10vh;
        justify-content: center;
        align-items: center;
        z-index: 10;
    
    }
    #home-page .menu img{
        width:9.4rem;
    }
    #home-page .menu h1{
        margin-right: 26rem;
        font-size: 0.9rem;
     
    }
    
    #home-page .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;      
        grid-auto-rows: 11.25rem;
        margin-left: -3rem;
    }
    .box1 {
        position:relative;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        height: 60%;       
        top: -1.2rem; 
        z-index: 11;
        
    }
    .box2 {
        position: relative;
        grid-row-start: 2;
        grid-row-end: 5; 
        width: 12.875rem;
        height: 100vh;
        margin-left: -3rem;
        top:-9rem;      
        z-index: 11;
        
    }
    .box2 .button{
        width: 4rem;
        height: 4rem;
        border-radius: 5.5rem;
        margin-left: 7rem;
        margin-top: 7rem;

        
    }
    .box3{
        margin-left: -11rem;
        margin-top:-12.2rem;
    }
    .box4 {
        position: relative;
        grid-column-start:3;      
        grid-row-start: 2;
        grid-row-end: 5;
        margin-left: -15rem;
        height: 100vh;
        top:-9rem;
        z-index: 11; 
           
    }
    
    .box5 {
        position: relative;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end:4;        
        margin-top: 5.8rem;
        margin-left: -6.8rem;
        width: 100vw;
        height: 100vh;
        top:-12.1rem;
        z-index: 11;
   
    }
    #home-page .content{
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: 40vh;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        margin-top: 1.1rem; 
    
    }
    #home-page .content .score{
        position: relative;
        left:5.7rem;
        top:0px;
        z-index: 5;
        font-size: 0.5rem;
        margin-bottom: 8rem;
    }
    #home-page .content .score span{
        position:relative;
        left:2.2rem;
        bottom:0.7rem;
    }
    
    #home-page .content .fundoMov1{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
       
    }
    #home-page .content .fundoMov2{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
    }
    #home-page .content .latao{
        background-image: url('../assets/latao2.png');
        background-repeat:no-repeat;
        width: 2.1875rem;
        height: 34.375rem;
        position: relative;
        right: 12.9rem;
        top: -6.25rem;
    }
    #home-page .player{
        display: flex;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .player ul{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        position: relative;
        list-style-type: none;
        top:-34rem;
        left: 9.4rem;
        right: 0;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .content .player ul li{
        position: absolute;   
    
    }
    #home-page .player ul li img{
        width: 9rem;
        height: 4.6rem;
        position: relative;
        
    }
    
    #home-page .pointColission{
        display:flex ;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;      
        top:22.5rem;
        left: 2.5rem;
        right: 0;
    
    }

}
@media(min-width:412px){
    #home-page{
        position: fixed;
    
    }
    
    #home-page .menu{
        display: flex;
        position: relative;
        height: 10vh;
        justify-content: center;
        align-items: center;
        z-index: 10;
    
    }
    #home-page .menu img{
        width:9.4rem;
    }
    #home-page .menu h1{
        margin-right: 26rem;
        font-size: 0.9rem;
     
    }
    
    #home-page .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;      
        grid-auto-rows: 11.25rem;
        margin-left: -3rem;
    }
    .box1 {
        position:relative;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        height: 60%;       
        top: -0.4rem; 
        z-index: 11;
    }
    .box2 {
        position: relative;
        grid-row-start: 2;
        grid-row-end: 5; 
        width: 12.875rem;
        height: 100vh;
        margin-left: -3rem;
        top:-9rem;      
        z-index: 11;
    }
    .box2 .button{
        width: 4rem;
        height: 4rem;
        border-radius: 5.5rem;
        margin-left: 7rem;
        margin-top: 7rem;

        
    }
    .box3{
        margin-left: -11rem;
        margin-top:-12.2rem;
    }
    .box4 {
        position: relative;
        grid-column-start:3;      
        grid-row-start: 2;
        grid-row-end: 5;
        margin-left: -15rem;
        height: 100vh;
        top:-9rem;
        z-index: 11;    
    }
    
    .box5 {
        position: relative;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end:4;        
        margin-top: 5.8rem;
        margin-left: -6.8rem;
        width: 100vw;
        height: 100vh;
        top:-11.4rem;
        z-index: 11;
    }
    #home-page .content{
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: 40vh;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
        margin-top: 1.1rem; 
    
    }
    #home-page .content .score{
        position: relative;
        left:5.7rem;
        top:0px;
        z-index: 5;
        font-size: 0.5rem;
        margin-bottom: 8rem;
    }
    #home-page .content .score span{
        position:relative;
        left:2.2rem;
        bottom:0.7rem;
    }
    
    #home-page .content .fundoMov1{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
       
    }
    #home-page .content .fundoMov2{
        position:relative;
        width: 12.875rem;
        height: 10.875rem;
    }
    #home-page .content .latao{
        background-image: url('../assets/latao2.png');
        background-repeat:no-repeat;
        width: 2.1875rem;
        height: 34.375rem;
        position: relative;
        right: 12.9rem;
        top: -6.25rem;
    }
    #home-page .player{
        display: flex;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .player ul{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        position: relative;
        list-style-type: none;
        top:-35rem;
        left: 9.4rem;
        right: 0;
        width: 2.25rem;
        height: 2.25rem;
    }
    #home-page .content .player ul li{
        position: absolute;   
    
    }
    #home-page .player ul li img{
        width: 9rem;
        height: 4.6rem;
        position: relative;
        
    }
    
    #home-page .pointColission{
        display:flex ;
        position: relative;
        width: 2.25rem;
        height: 2.25rem;      
        top:22.5rem;
        left: 2.5rem;
        right: 0;
    
    }

}
@media(min-width:700px){
    #home-page{
        position: fixed;
        width: 100vw;
    }
    #home-page .menu{
        display: flex;
        flex: 1;
        position: relative;
        height: 20vh;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
    
    }
    #home-page .menu img{
        width:21.875rem;
    }
    #home-page .menu h1{
        margin-right: 31.25rem;
        font-size: 2rem;
    }
    #home-page .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;      
        grid-auto-rows: 10rem;
        margin-left: 0;
    }
    .box1 {
        position: relative;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;        
        height: 30%;
        top: -2rem;
        z-index: 11;
    }
    .box2 {
        position:relative;
        grid-row-start: 2;
        grid-row-end: 5; 
        width: 32rem;  
        top:-9rem;  
        z-index: 11;
    }
    .box2 .button{
        display: none;
        
    }
    .box3{
        margin-left: -10rem;
        margin-top:-9rem;
    }
    .box4 {
        position:relative;
        grid-column-start:3;      
        grid-row-start: 2;
        grid-row-end: 5;
        margin-left: -37.5rem;
        top:-9rem;
        z-index: 11;
        
    }
    .box5 {
        position:relative;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end:4;        
        background-color:black;
        margin-top: 2.9rem;
        margin-left: -0.75rem;
        width: 45%;
        height: 120%;
        z-index: 11;
        top:-0.1rem;

    }  

    #home-page .content{
        display: flex;   
        position: relative;
        height: 50vh;

    }
    #home-page .content .score{
        position: relative;
        left:6.25rem;
        top:0px;
        z-index: 5;
        margin-bottom: 15.7rem;
        font-size: 1rem;
    }
    #home-page .content .score span{
        position:relative;
        left:4.4rem;
        bottom:1.4rem;
    }
    
    #home-page .content .fundoMov1{
        position:relative;
        width: 25.75rem;
        height: 21.75rem;
    }
    #home-page .content .fundoMov2{
        position:relative;
        width: 25.75rem;
        height: 21.75rem;
    }
    #home-page .content .latao{

        width: 6.25rem;
        height: 43.75rem;
        position: relative;
        right: 25.75rem;
        top: 0px;
    }
    #home-page .player{
        display: flex;
        position: relative;
        width: 3.5rem;
        height: 3.5rem;

    }
    #home-page .player ul{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        position: relative;
        list-style-type: none;
        top:-22.5rem;
        left: 6.25rem;
        right: 0;
        width: 3.5rem;
        height: 3.5rem;
    
    }
    #home-page .content .player ul li{
        position: absolute;
        
    
    }
    #home-page .player ul li img{
        width: 16rem;
        height: 8rem;
        position: relative;
    }

    #home-page .pointColission{
        display:flex ;
        position: relative;
        width: 3.5rem;
        height: 3.5rem;
        top:22.5rem;
        left: 5rem;
        right: 0;
    }
}
